body {
    margin: 0; /* Убираем отступы */
    height: 100%;
}

.form-horizontal {
    width: 100%;
    padding: 40px;
    text-align: center;
}

.col-md-10 {
    margin: 20px auto;
    text-align: center;
    border: 1px solid white; /*обводка кнокоп*/
    padding: 10px 5px; /*ширина и высота кнопки*/
    width: 400px;
    color: black;
    text-decoration-color: white;
}

.Login input[type="submit"]:hover {
    background: #3d9bff;
    color: white;
    text-decoration-color: white;
}

h1 {
    text-align: center;
    margin: 20px auto;
}
tr {
    margin: 20px auto;
}