@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Genres</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
</head>
<body>
    <div class="tm-main-content">
                <section class="tm-margin-b-l">
                    <header>
                        <h2 class="tm-main-title">Жанры</h2>
                    </header>
                    <div class="tm-gallery">
                        <div class="row">

                        
                            <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">

                            
                                <a asp-controller="Items" asp-action="Genre" asp-route-id=1>
                            
                                    <p class="tm-main-title">Драма</p>
                        
                                </a>
                                </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                                <a asp-controller="Items" asp-action="Genre" asp-route-id=2>
                            <p class="tm-main-title">Фэнтези</p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=3>
                            <p class="tm-main-title">Художественная проза</p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=4>
                            <p class="tm-main-title">Роман</p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=5>
                            <p class="tm-main-title">Поэзия</p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=6>
                            <p class="tm-main-title">Фольклор </p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=7>
                            <p class="tm-main-title">Историческая проза</p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=8>
                            <p class="tm-main-title">Хоррор</p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=9>
                            <p class="tm-main-title">Триллер</p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=10>
                            <p class="tm-main-title">Реализм</p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=11>
                            <p class="tm-main-title">Научная фантастика</p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=12>
                            <p class="tm-main-title">Юмор</p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=13>
                            <p class="tm-main-title">Биография</p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=14>
                            <p class="tm-main-title">Эссе</p>
                        </a>
                        </figure>
                        <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                        <a asp-controller="Items" asp-action="Genre" asp-route-id=15>
                            <p class="tm-main-title">Документальная литература</p>
                        </a>
                        </figure>
                    </div>
                    </div>
                    
                </section>

                
            </div>
</body>

</html>
