

<head>
    <meta charset="utf-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
</head>

<div class="text-center">
    <h1 class="display-4">Книги в алфавитном порядке</h1>
    <p>На данной странице отображены книги, отсортированные по алфавиту</p>

</div>
