<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Наша Команда</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
     <link rel="stylesheet" href="~/css/StyleSheet.css"/> 
</head>
<body>
    <div class="kadupis-decung">
  <h1>Наша команда</h1>
  <div class="cumconevu">
  <div class="volupavum">
  <div class="vumkob-salovum">
  <img src="~/img/img2.jpg" alt="нет изображения">
  </div>
  <h3>Антипов Юрий</h3>
  <p class="role">Специалист по БД</p>
  <p>Сделал базу данных и связь сущностей.И очееень стеснительный.</p>
  </div>
  <div class="volupavum">
  <div class="vumkob-salovum">
  <img src="~/img/img3.jpg" alt="Нет изображения">
  </div>
  <h3>Алькобаили Амин</h3>
  <p class="role">Бекэндер</p>
  <p>Создал контроллеры, менеджеры и интерфейсы.</p></div>
  <div class="volupavum">
  <div class="vumkob-salovum">
  <img src="~/img/img1.jpg" alt="Нет изобаржения">
  </div>
  <h3>Федорова Дарья</h3>
  <p class="role">Фронтэндер</p>
  <p>Создала внешний вид сайта.</p>
  </div>
  </div>
</div>
</body>

</html>
