 <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>ARCHIVE</title>
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  
        <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">               
        <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
       
    </head>

<body>
    <!--*шапка сайта*-->

    <div class="container">
        <main role="main" class="pb-3">
            <header class="tm-site-header">
                <h1 class="tm-site-name">ARCHIVE</h1>
                <p class="tm-site-description">архив книг, статей, сайтов ...</p>

                <nav class="navbar navbar-expand-md tm-main-nav-container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tmMainNav" aria-controls="tmMainNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse tm-main-nav" id="tmMainNav">
                        <ul class="nav nav-fill tm-main-nav-ul">
                            <li class="nav-item"><a class="nav-link active" asp-area="" asp-controller="Items" asp-action="Index">Каталог</a></li>
                            <li class="nav-item"><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Genres">Жанры</a></li>
                            <li class="nav-item"><a class="nav-link active" asp-area="" asp-controller="Authors" asp-action="Index">Авторы</a></li>
                            <li class="nav-item"><a class="nav-link active" href="searchpage.cshtml">Поиск</a></li>
                            <li class="nav-item"><a class="nav-link active" asp-area="" asp-controller="Users" asp-action="Login">Профиль</a></li>
                            <li class="nav-item"><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="MyTeam">Наша Команда</a></li>
                        </ul>
                    </div>
                </nav>

            </header>
            <!--*низ сайта*-->
   
            @RenderBody()
             
        </main>
        <footer class="border-top footer text-muted">
        <div class="ft">
            &copy; 2022 - ARB - <a asp-area="" asp-controller="Home" asp-action="MyTeam">Наша команда</a>
        </div>
        </footer>
    </div>

    
    <!--*подключение фалов по умолчанию*-->
    <script src="js/jquery-1.11.3.min.js"></script>         
        <script src="js/popper.min.js"></script>                
        <script src="js/bootstrap.min.js"></script>             
        <script>

            $(document).ready(function () {

                // Update the current year in copyright
                $('.tm-current-year').text(new Date().getFullYear());

            });

        </script>
</body>
</html>